<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <style>
        body {
            background-color: cornsilk;
        }

        form {
            margin: auto;
            text-align: center;
        }

        .center {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
            background-color: aliceblue;
        }

        .success {
            background-color: chartreuse;
            border: 3px solid #67cf00;
            padding: 3px;
        }

        .error {
            background-color: hotpink;
            border: 3px solid #bb4d84;
            margin-bottom: 3px;
        }

        h3 {
            margin: 2px;
        }

        h4 {
            margin: 2px;
        }
    </style>
</head>
<body>
<form class="center" action="/create_transaction/" method="post">
    {% csrf_token %}
    {% if success %}
        <div class="success">Транзакция прошла успешна</div>
    {% else %}
        {% for error, error_text in errors.items %}
            <div class="error">
                <h3>{{ error }}</h3>
                <h4>{{ error_text }}</h4>
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <h2>
            Отправитель
        </h2>
        {{ form.sender }}
    </div>
    <div>
        <h2>
            Инн получателей
        </h2>
        {{ form.inn_to }}
    </div>
    <div>
        <h2>Сумма</h2>
        {{ form.amount }}
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>